<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-cloak>
<head>
	<meta charset="UTF-8">
	<title>Sweater Weather</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.1/angular-moment.js"></script>
	<link rel="stylesheet" type="text/css" href="app/css/styles.css">
</head>
<body ng-controller="mainCtrl" class="container ng-cloak">
		
		<div class="big title">Should I wear a sweater?</div>
		<div class="main">
		<div ng-show="isLoading" class="loading animate-view-container"><img src="app/images/loading-animation.gif"></div>
		<form ng-submit="getWeather()">
			<input class="cityInput" ng-model="cityName" placeholder="enter a city name" name="city" type="text">
			<input type="submit" value="?" class="btn">
		</form>
		<span class="sweater">{{sweater}}</span><br>
		<button ng-show="result" ng-click="showWeather = !showWeather" class="btn toggle">Show me the weather.</button><br><br>
		<div class="fading weather" ng-show="showWeather" ng-style="style">
			
			<ul class="vertical">
				<li class="cityname">{{city}}</li>
				<li class="big">{{temp | number: 1}}°{{degree}}</li>
				<li>Today's Low: {{lowTemp | number: 1}}°{{degree}}</li>
				<li>Today's High: {{highTemp | number: 1}}°{{degree}}</li>
				<li>Wind: {{wind}}</li>
				<li>Weather Conditions: {{details}}</li>
				<li class="convert"><span ng-click="convertC()">C°</span>|<span ng-click="convertF()">F°</span></li>
			</ul>

		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	
	<script src="./app/main.js"></script>
</body>
</html>